meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)

link(rel="icon", href=url_for(theme.favicon))

title
   block site_title
       = config.title
block description
    meta(name="description", content=config.description)

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)

//- Facebook OpenGraph tags
//- FIXME: This works only if you are using Facebook comments 
if theme.comment.enable == "facebook"
    meta(property="og:type", content="website")
    //- 966242223397117 is the default fb app_id if you does not have an app at Facebook Developers
    meta(property="fb:app_id", content=theme.comment.id ? theme.comment.id :  "966242223397117")
    //- You can use either config.title or theme.header.title (It's up to you)
    meta(property="og:title" content=page.title ? (page.title + " - " + config.title) : config.title)
    //- The two meta properties below works for sharing the post on Facebook
    //- Remember to set the image that you want at your post header (fb_og_image)!
    //- Or you can use your avatar image (or any other image).
    meta(property="og:image", content=page.fb_og_image ? page.fb_og_image : href=url_for(theme.avatar))
    //- Remember to set the description that you want at your post header (fb_og_description)!
    //- Or you can use either config.description or theme.header.motto (It's up to you)
    meta(property="og:description", content=page.fb_og_description ? page.fb_og_description : config.description)
